.page-header
  .row
    .col-md-12
      .pull-right
        %h1= link_to 'Edit',edit_user_path(@user), class:'btn btn-info'
      %h1= "#{@user.first_name} #{@user.last_name}".titleize
.row
  .col-md-12
    %dl.dl-horizontal
      %dt
      %dt
