- if object.errors.any?
  .row
    %div{ class: "col-md-7 #{offset_option}" }
      .alert.alert-danger
        %h3
          = pluralize(object.errors.count, "error")
          prohibited this form from being saved:
        - object.errors.full_messages.each do |message|
          %ul
            %li= message
