<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a style="color:white"class="navbar-brand" href="#">gCamp</a>
  </div>
</nav>
  <div class="container">
    <div class="jumbotron">
      <h1>gCamp</h1>
      <p></p>
      <p>Your life, organized.</p>
    </div>

    <div class="row">
      <div class=col-md-4>
        <p class="lead"><%= image_tag("1.jpg", :alt => "1 feed", :class=>"img-responsive") %></p>
      </div>

      <div class=col-md-4>
        <p class="lead"><%= image_tag("2.jpg", :alt => "2 feed", :class=>"img-responsive") %></p>
      </div>

      <div class=col-md-4>
        <p class="lead"><%= image_tag("3.jpg", :alt => "3 feed", :class=>"img-responsive") %></p>
      </div>

    </div>
    <div class= "row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
          </div>
          <div class="panel-body">
            <p>Grouped by projects and</p>
            <p>lists. Just the way you</p>
            <p>like'em</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Permissions</h3>
          </div>
          <div class="panel-body">
            <p>Fine-grained permissions</p>
          </br>
        </br>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Comment on tasks</li>
                <p>and documents</p>
              <li>Get email notifications</li>
              <ul>
          </div>
        </div>
      </div>
    </div>
  </div>
