<nav class="navbar navbar-inverse navbar-fixed-top">
  <p class=".brand">gCamp </p>
</nav>

<div class="container">


  <div class="jumbotron">
    <h1>gCamp</h1>
    <p></p>
    <p>Your life, organized.</p>
  </div>

  <div class="row">
    <div class=col-md-4>
    </div>

    <div class=col-md-4>
    </div>

    <div class=col-md-4>
    </div>


  </div>
</div>
















</div>
