.page-header
  .pull-right
    = link_to 'Delete', project_path(@project),class: 'btn btn-danger', method: :delete
    = link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
  %h1= @project.name
