.page-header
  .pull-right
    = link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
    = link_to 'Delete', project_path(@project),class: 'btn btn-danger', method: :delete
  %h1= @project.name
  = link_to 'Tasks', project_tasks_path(@project)
